{% extends 'modals/baseModal.html' %}

<!-- Modal ID -->
{% block modal-id %} id="backendModal" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}<i class="fab fa-python"></i>&nbsp;&nbsp;Backend Opportunities{% endblock modal-title %}

<!-- Form Validation -->
{% block validation %} onsubmit="return validateForm2()" {% endblock validation %}

<!-- =======================  INPUT ID  ======================== -->
{% block id_name %}  id="name2" {% endblock id_name %}
{% block id_age %}  id="age2" {% endblock id_age %}
{% block id_email %} id="email2" {% endblock id_email %}
{% block id_phone %} id="phone2" {% endblock id_phone %}
{% block id_address %} id="address2" {% endblock id_address %}
{% block id_experience %} id="experience2" {% endblock id_experience %}
{% block id_skills %} id="skills2" {% endblock id_skills %}
{% block id_file %} id="file2" {% endblock id_file %}