{% extends 'modals/baseModal.html' %}

<!-- Modal ID -->
{% block modal-id %} id="fullstackModal" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}<i class="fab fa-node-js "></i>&nbsp;&nbsp;Fullstack Opportunities{% endblock modal-title %}

<!-- Form Validation -->
{% block validation %} onsubmit="return validateForm3()" {% endblock validation %}

<!-- =======================  INPUT ID  ======================== -->
{% block id_name %}  id="name3" {% endblock id_name %}
{% block id_age %}  id="age3" {% endblock id_age %}
{% block id_email %} id="email3" {% endblock id_email %}
{% block id_phone %} id="phone3" {% endblock id_phone %}
{% block id_address %} id="address3" {% endblock id_address %}
{% block id_experience %} id="experience3" {% endblock id_experience %}
{% block id_skills %} id="skills3" {% endblock id_skills %}
{% block id_file %} id="file3" {% endblock id_file %}